body {
    padding: 0 40px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif, Arial, sans-serif;
}

h1 {
    text-transform: uppercase;
}

hr {
    padding: 0;
    margin: 0;
}

#current-date,
.calculated-date {
    display: flex;
    justify-content: start;
    align-items: baseline;
}

#current-date p,
.calculated-date p {
    margin: 10px;
}

.days-of-week {
    font-weight: bold;
}

.days-of-week,
.days-grid {
    padding: 0;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.days-of-week ol,
.days-grid ol,
.days-of-week li,
.days-grid li {
    list-style: none;
}

.days-grid li{
    cursor: pointer;
}

.calculations-body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
}

.calculations-body button {
    background: none;
    border-radius: 50%;
    cursor: pointer;
    width: 30px;
    height: 30px;
    font-weight: bold;
}

.reset button:hover,
.calculations-body button:hover {
    background: #000;
    color: #fff;
}

.text-center {
    text-align: center;
}

.reset button {
    background: #fff;
    cursor: pointer;
    padding: 10px 25px;
    font-weight: bold;
}

.reset button:active,
.calculations-body button:active {
    background: #525252;
    color: #fff;
}

.today {
    font-weight: bold;
    border: solid;
}

.isMonth{
    background-color: lightgray;
}

.isNotMonth {
    background-color: gray;
    color: white;
}